<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{$Think.config.CSS_URL}/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{$Think.config.JS_URL}/jquery.js"></script>

    <script type="text/javascript">

    </script>


</head>

<body style="background:#f0f9fd;">
<form action="http://119.23.18.15:8000/CloudPlayerServer/index.php/Home/Upload/upload" method="post" enctype="multipart/form-data" ><br/><br/>
    　　　歌曲mp3:<input type="file" name="music" /> <br/><br/><br/>
    　　　MV视频:<input type="file" name="video" /> <br/><br/><br/>
    　　　歌词文件:<input type="file" name="lrc" /> <br/><br/><br/>
    　　　<input type="submit" value="上传" />
</form>
</body>
</html>
