<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎登录后台管理系统--模板之家 www.cssmoban.com</title>
    <link href="{$Think.config.CSS_URL}/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{$Think.config.JS_URL}/jquery.js"></script>
    <script src="{$Think.config.JS_URL}/cloud.js" type="text/javascript"></script>

    <script language="javascript">
        $(function(){
            $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
            $(window).resize(function(){
                $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
            })
        });
    </script>

</head>

<body style="background-color:#1c77ac; background-image:url(images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">



<div id="mainBody">
    <div id="cloud1" class="cloud"></div>
    <div id="cloud2" class="cloud"></div>
</div>


<div class="logintop">
    <span>欢迎登录后台管理界面平台</span>
    <ul>
        <li><a href="#">回首页</a></li>
        <li><a href="#">帮助</a></li>
        <li><a href="#">关于</a></li>
    </ul>
</div>

<div class="loginbody">

    <span class="systemlogo"></span>

    <div class="loginbox">

        <ul>
            <li>{$msg}</li>
            <li><input id="name" type="text" class="loginuser" value="admin" onclick="JavaScript:this.value=''"/></li>
            <li><input id="pwd" type="text" class="loginpwd" value="密码" onclick="JavaScript:this.value=''"/></li>
            <li><input name="" type="button" class="loginbtn" value="登录"  onclick="post('/CloudPlayerServer/index.php/Admin/Default/login')"  /><label><input name="" type="checkbox" value="" checked="checked" />记住密码</label><label><a href="#">忘记密码？</a></label></li>
        </ul>

        <!--/CloudPlayerServer/index.php/Admin/Default/login-->
    </div>

</div>
<div class="loginbm">2018boat版权所有</div>

<script language="javascript">
    function post(URL) {
        var username = document.getElementById('name').value
        var password = document.getElementById('pwd').value
        var PARAMS={username:username,password:password}
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        for (var x in PARAMS) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            // alert(opt.name)
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }
    function printInputValue(id) {
        var inputValue = document.getElementById(id).value;
        return inputValue;
    }
</script>
</body>
</html>